@import url("nullstyle.css");
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: #a7a7a7;
}

.panel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  width: 150px;
  padding-top: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel .text2 {
  margin-top: 20px;
}

.panel #color {
  margin-top: 5px;
  height: 70px;
  width: 70px;
}

.panel #brush5x5 {
  height: 5px;
  width: 5px;
}

.panel #brush10x10 {
  height: 10px;
  width: 10px;
}

.panel #brush15x15 {
  height: 15px;
  width: 15px;
}

.panel #brush20x20 {
  height: 20px;
  width: 20px;
}

.panel #brush25x25 {
  height: 25px;
  width: 25px;
}

.panel #brushR5 {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.panel #brushR10 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.panel #brushR15 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.panel #brushR20 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.panel #brushR25 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.panel .col {
  margin-top: 10px;
  background-color: black;
}

.panel #clear {
  color: black;
  padding-top: 3px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 20px;
  height: 25px;
  width: 130px;
}

#c1 {
  background-color: white;
  margin: 10px;
}
