@import url("nullstyle.css");
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: gainsboro;
}

.panel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gainsboro;
  font-size: 13px;
  width: 115px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text2 {
  margin-top: 15px;
}

#color {
  margin-top: 5px;
  height: 70px;
  width: 70px;
}

#input {
  height: 30px;
  width: 45px;
  font-size: 20px;
  border: 1px solid black;
  margin: 5px;
}

#brushR {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#brushR {
  margin-top: 5px;
  background-color: black;
}

#line {
  margin-top: 5px;
  height: 10px;
  width: 70px;
  background-color: black;
}

#circle {
  border: 5px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: 10px;
}

#clear {
  color: black;
  padding-top: 3px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 20px;
  height: 25px;
  width: 105px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#clear:active {
  color: white;
  background-color: black;
  padding-top: 3px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 20px;
  height: 25px;
  width: 105px;
}

#c1 {
  background-color: white;
}
