@import url("nullstyle.css");

body {
  overflow: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: gainsboro;
}

.panel {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gainsboro;
  font-size: 13px;
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transition: all 1s ease;
  left: 0px;
  padding: 5px;
}
.invizPanel {
  left: -115px;
}

.hideBtn {
  top: 0px;
  position: fixed;
  height: 30px;
  width: 30px;
  font-size: 15px;
  font-weight: 700;
  left: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  transition: all 1s ease;
  border-bottom-right-radius: 50%;
}
.invizBtn {
  left: 0px;
}

.text2 {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

#color {
  margin-top: 5px;
  height: 70px;
  width: 70px;
}

#input {
  height: 30px;
  width: 45px;
  font-size: 20px;
  border: 1px solid black;
  margin: 5px;
}

#brushR {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#brushR {
  margin-top: 5px;
  background-color: black;
}

#line {
  margin-top: 5px;
  height: 10px;
  width: 70px;
  background-color: black;
}

#circle {
  border: 5px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: 10px;
}

#clear {
  color: black;
  padding-top: 3px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 20px;
  height: 25px;
  width: 105px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#clear:active {
  color: white;
  background-color: black;
  padding-top: 3px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 20px;
  height: 25px;
  width: 105px;
}

#c1 {
  background-color: white;
}
